<section class="flex flex-col items-center justify-center text-center">

    <h2 class="text-md font-bold text-white my-2">{{ title() }}</h2>

    <p class="text-sm text-white w-xs lg:w-lg mb-3">As rotas permitem navegar entre componentes sem recarregar a página, criando uma experiência fluida para o usuário. Com o Angular Router, é possível definir caminhos, acessar páginas por URL, utilizar parâmetros, proteger áreas da aplicação com Guards e carregar módulos ou componentes sob demanda (Lazy Loading).</p>

</section>
